html,
body {
  height: 100%;
}

body {
  @extend %pt-500;
  font-size: 16px;
  line-height: 19px;
  color: $black;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
}

.btn {
  @extend %pt-500;
  padding: 14px 32px;
  background: $btn;
  color: #fff;
  border-radius: 12px;
}

.title {
  @extend %pt-700;
  font-size: 36px;
  line-height: 43px;
  color: $black;
}

.subtitle {
  @extend %pt-400;
  font-size: 16px;
  line-height: 19px;
  display: block;
  color: $gray;
  margin-bottom: 4px;
}

.tabs-content {
  display: none;

  &--active {
    display: block;
  }
}

.link {
  color: $btn;
}

.breadcrumbs {
  background: $gray-light;
  padding: 24px 0;

  &__list {
    display: flex;
  }

  &__item {
    position: relative;
    padding-right: 10px;
  }

  &__item+&__item {
    padding-left: 6px;
  }

  &__item::after {
    content: '/';
    position: absolute;
    right: 0;
  }

  &__item:last-child {
    .breadcrumbs__link {
      color: $gray;
    }
  }

  &__item:last-child::after {
    display: none;
  }

  &__link {
    color: $black;
  }
}

.breadcrumbs-title {
  @extend %pt-700;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 8px;
}

.filter-title {
  @extend %pt-500;
  font-size: 20px;
  line-height: 24px;
  color: $black;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__list {
    display: flex;
    align-items: center;
  }

  &__item+&__item {
    margin-left: 12px;
  }

  &__link {
    color: inherit;
  }

  &__link--active {
    color: $btn;
  }

  &__next {
    padding-left: 12px;
  }
}