html,
body{
  height: 100%;
}

body{
  @extend %pt-500;
  font-size: 16px;
  line-height: 19px;
  color: $black;
  display: flex;
  flex-direction: column;
}

.main{
  flex-grow: 1;
}

.container{
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn{
  @extend %pt-500;
  padding: 14px 32px;
  background: $btn;
  color: #fff;
  border-radius: 12px;
}