$black: #121720;
$gray:  #9095A9;
$gray-light: #EFF0F2;
$gray-light-secondary: #F7F8F9;
$btns: #7984C0;
$red:  #EB5783;
$purpule: #5A6395;

%pt-400 {
  font-family: 'PT Root UI';
  font-weight: 400;
}

%pt-500 {
  font-family: 'PT Root UI';
  font-weight: 500;
}

%pt-700 {
  font-family: 'PT Root UI';
  font-weight: 700;
}