@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';


.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 95px;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__item+li {
    margin-left: 22px;
  }

  &__link {
    color: inherit;

    span {
      color: $red;
    }
  }

  &__link:hover {
    border-bottom: 1px solid $black;
  }
}

.user-nav {
  display: flex;
  align-items: center;

  &__link {
    position: relative;
  }

  &__link+a {
    margin-left: 24px;
  }

  &__num {
    @extend %pt-400;
    font-size: 12px;
    line-height: 14px;
    color: $btn;
    position: absolute;
    top: -7px;
    right: -5px;
  }
}

.search {
  background: $black;
}

.search-form {

  &__input-box {
    position: relative;

    &::before {
      content: '';
      width: 18px;
      height: 18px;
      background: url(../images/icons/search.svg);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__input {
    padding: 18px 30px;
    width: 100%;
    color: rgba(#fff, .5);
    border: none;
    background: $black;
    outline: $black;
  }

  &__input::placeholder {
    @extend %pt-400;
    line-height: 24px;
    color: rgba(#fff, .5)
  }
}



.footer {
  color: $gray;

  a {
    color: inherit;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 13px;
    border-bottom: 1px solid $gray-light;
  }

  &__item-contact {
    display: flex;
    flex-direction: column;
  }

  &__social {
    display: flex;
  }

  &__social-item+li {
    margin-left: 12px;
  }

  &__title,
  &__phone,
  &__email {
    @extend %pt-500;
    font-size: 18px;
    line-height: 22px;
    color: $black  !important;
  }

  &__phone {
    margin-bottom: 8px;
  }

  &__phone:hover {
    color: $btn  !important;
  }

  &__email {
    margin-bottom: 16px;
    color: $btn  !important;
  }

  &__email:hover {
    color: $black  !important;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__menu-link {
    display: inline-block;
    margin-bottom: 12px;
  }

  &__menu-link:hover {
    color: $btn;
  }

  &__bottom {
    min-height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__bottom-link:hover {
    color: $btn;
  }
}

@import 'media';