@import 'libs';
@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 95px;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__item+li {
    margin-left: 22px;
  }

  &__link {
    color: inherit;

    span {
      color: $red;
    }
  }

  &__link:hover {
    border-bottom: 1px solid $black;
  }
}

.user-nav {
  display: flex;
  align-items: center;

  &__link {
    position: relative;
  }

  &__link+a {
    margin-left: 24px;
  }

  &__num {
    @extend %pt-400;
    font-size: 12px;
    line-height: 14px;
    color: $btn;
    position: absolute;
    top: -7px;
    right: -5px;
  }
}

.search {
  background: $black;
}

.search-form {

  &__input-box {
    position: relative;

    &::before {
      content: '';
      width: 18px;
      height: 18px;
      background: url(../images/icons/search.svg);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__input {
    padding: 18px 30px;
    width: 100%;
    color: rgba(#fff, .5);
    border: none;
    background: $black;
    outline: $black;
  }

  &__input::placeholder {
    @extend %pt-400;
    line-height: 24px;
    color: rgba(#fff, .5);
  }
}

.home {
  &__inner {
    margin: 30px 0;
  }

  &__title {
    @extend %pt-700;
    font-size: 36px;
    line-height: 43px;
  }

  &__title,
  &__subtitle {
    margin-bottom: 16px;
  }
}

.home-slider {
  &__item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    padding-left: 30px;
    border-radius: 24px;
  }

  &__box {
    max-width: 540px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  &__link {
    margin-bottom: 30px;
    color: $btn;
  }

  &__btn {
    span {
      position: relative;
      padding-right: 30px;
    }

    span::before {
      content: '';
      width: 20px;
      height: 20px;
      background: url(../images/icons/home-link-arrow.svg);
      position: absolute;
      right: 0;
    }
  }

  .slick-dots {
    position: absolute;
    left: 30px;
    bottom: 25px;
  }

  .slick-dots li {
    display: inline-block;
  }

  .slick-dots li+li {
    margin-left: 8px;
  }

  .slick-dots button {
    font-size: 0;
    border: none;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background: $gray;
    padding: 0;
    cursor: pointer;
  }

  .slick-dots .slick-active button {
    background: $btn;
  }
}

.product {
  &__tabs {
    padding-bottom: 12px;
    border-bottom: 1px solid $gray-light;
    margin-bottom: 30px;
  }

  &__tab {
    @extend %pt-400;
    color: inherit;
  }

  &__tab+&__tab {
    margin-left: 30px;
  }

  .tab--active {
    @extend %pt-500;
    color: $btn;
    padding-bottom: 11.5px;
    border-bottom: 1px solid $btn;
  }

  &__filter {
    .jq-selectbox {
      &__select {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 223px;
        height: 48px;
        border: 1px solid $gray-light;
        border-radius: 16px;
        background: #fff;
        box-shadow: none;
        @extend %pt-400;
        color: $black;
        text-shadow: none;
      }

      &__trigger {
        border-left: none;
      }

      &__trigger-arrow {
        position: absolute;
        top: 14px;
        right: 12px;
        border-top: none;
        border-right: none;
        border-left: none;
        width: 20px;
        height: 20px;
        background: url(../images/icons/trigger.svg);
      }

      .jq-selectbox__dropdown {
        width: 100%;
        margin: 0;
        padding: 14px 16px;
        border: 1px solid $gray-light;
        border-radius: 16px;
        background: #fff;
        box-shadow: none;
        @extend %pt-400;
        font-size: 16px;
        line-height: 19px;
      }

      & li {
        color: $gray;
        background: transparent;
        margin-bottom: 16px;
      }

      & li:last-child {
        margin-bottom: 0;
      }

      .selected,
      & li:hover {
        color: $black;
      }
    }
  }

  &__tabs-container {
    margin-bottom: 64px;
  }

  &__inner {
    padding-bottom: 30px;
    border-bottom: 1px solid $gray-light;
  }

  &__filter-text {
    margin-right: 12px;
    color: $gray;
  }
}

.product-box {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
}

.product-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-item {
  max-width: 267px;
  margin-bottom: 30px;
  position: relative;

  &--new::before,
  &--sale::before {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    position: absolute;
    padding: 4px 12px;
    background: #fff;
    border-radius: 8px;
    position: absolute;
    top: 16px;
    left: 16px;
  }

  &--new::before {
    content: 'New';
  }

  &--sale::before {
    content: 'Sale';
    background: $red;
    color: #fff;
  }

  &__link {
    color: inherit;
  }

  &__img {
    max-height: 222px;
    object-fit: cover;
    margin-bottom: 16px;
  }

  &__info-box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
    border-bottom: 1px solid $gray-light;
    margin-bottom: 12px;
  }

  &__title {
    position: relative;

    &--checked {
      padding-left: 28px;
    }
  }

  &__title--checked::before {
    content: '';
    width: 20px;
    height: 20px;
    background: url(../images/icons/verified_user.svg);
    position: absolute;
    top: 0;
    left: 0;
  }

  &__price-box {
    display: flex;
  }

  &__price-old {
    color: $red;
    text-decoration: line-through;
    margin-right: 12px;
  }

  &__text,
  &__size {
    @extend %pt-400;
    color: $gray;
  }

  &__text {
    margin-bottom: 8px;
  }

  &__size {
    margin-bottom: 16px;
  }

  &__favorite,
  &__basket {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
  }

  &__favorite {
    margin-right: 12px;
  }

  &__favorite--active {
    background: url(../images/icons/favorite-active.svg);
  }

  &__basket {
    &--draft {
      img {
        display: none;
      }

      background: url(../images/icons/drafts.svg);
      width: 20px;
      height: 20px;
    }
  }
}

.popular {
  &__inner {
    padding-bottom: 64px;
    border-bottom: 1px solid $gray-light;
    margin-bottom: 64px;
  }
}

.popular-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px 0;
}

.popular-item {
  &__img {
    margin-bottom: 16px;
  }

  &__link {
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: $black;
    position: relative;
  }

  &__link::before {
    content: '';
    width: 16px;
    height: 12px;
    background: url(../images/icons/link-arrow.jpg);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}

.popular-sell {
  &__img {
    max-width: 267px;
    max-height: 267px;
    object-fit: cover;
    margin-bottom: 24px;
  }

  &__name {
    color: $black;
    margin-bottom: 12px;
  }

  &__box {
    display: flex;
    align-items: center;
  }

  &__star {
    margin-right: 12px;
  }

  &__vote {
    font-weight: 400;
    color: $gray;
  }
}

.star {
  padding: 0;
}

.benefit {
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 267px;
  }

  &__item-title {
    font-size: 20px;
    line-height: 24px;
    margin: 24px 0 16px;
  }

  &__item--marketplace::before,
  &__item--original::before,
  &__item--assortment::before,
  &__item--dollar::before {
    content: '';
    width: 124px;
    height: 124px;
  }

  &__item--marketplace::before {
    background: url(../images/icons/bag.svg);
  }

  &__item--original::before {
    background: url(../images/icons/checked.svg);
  }

  &__item--assortment::before {
    background: url(../images/icons/filter.svg);
  }

  &__item--dollar::before {
    background: url(../images/icons/dollar.svg);
  }
}

.blog {
  &__inner {
    margin-bottom: 30px;
  }

  &__article {
    width: 267px;
    color: $gray;
  }

  &__article-img {
    margin-bottom: 16px;
    max-height: 240px;
  }

  &__article-date {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 8px;
  }

  &__article-title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 16px;
    color: $black;
  }

  &__article-linkArrow {
    margin-left: auto;
  }
}

.categories-breadcrumbs {
  margin-bottom: 30px;
}

.categories {
  .popular {
    &__inner {
      display: flex;
    }
  }
}

.categories-aside {
  &__filters {
    width: 267px;
    margin-left: 25px;
  }
}

.categories-filter {
  &__title {
    margin-bottom: 25px;
    position: relative;
    cursor: pointer;
  }

  &__title::before,
  &__title--toggle::before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  &__title::before {
    background: url(../images/icons/remove.svg);
  }

  &__title--toggle::before {
    background: url(../images/icons/add.svg);
  }


  &__label {
    display: block;
    @extend %pt-400;
    margin-bottom: 16px;
  }

  &__label:last-child {
    margin-bottom: 0;
  }

  &__input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
  }

  &__input:checked+&__radio {
    color: $btn;
  }

  &__radio {
    cursor: pointer;
  }
}

.filter-item {
  padding-bottom: 30px;
  border-bottom: 1px solid $gray-light;
  margin-bottom: 30px;
}

.letters {
  &__inner {
    background: $gray-light-secondary;
    margin-bottom: 30px;
    padding: 20px 0;
  }

  &__form-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__form-item {
    border-right: 1px solid $gray-light;
  }

  &__form-item:first-child {
    padding-right: 6px;
  }

  &__form-item:last-child {
    border-right: none;
  }

  &__form-item+&__form-item {
    padding: 0 6px;
  }

  &__form-btn {
    @extend %pt-400;
    font-size: 14px;
    line-height: 17px;
    color: $gray;
    background: transparent;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
  }

  &__form-btn--active {
    @extend %pt-700;
    color: $black;
  }
}

.search-item {
  &__inner {
    margin-bottom: 30px;
  }

  .search-form {
    &__input-box {
      &::before {
        background: url(../images/icons/search-gray.svg);
      }
    }

    &__input {
      padding: 18px 30px;
      width: 100%;
      color: $gray;
      border: none;
      border-bottom: 1px solid $gray-light;
      background: transparent;
    }

    &__input:focus {
      outline: $gray-light;
    }

    &__input::placeholder {
      @extend %pt-400;
      color: $gray;
    }
  }
}

.brands {
  .popular-item__img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 267px;
    height: 267px;
    border: 1px solid $gray-light;
    border-radius: 16px;
    margin-bottom: 20px;
  }

  .popular-item {
    margin-bottom: 30px;
  }
}

.info {
  margin-bottom: 30px;
}


.sellers {
  &__box-inner {
    margin-bottom: 30px;
  }

  &__box-info {
    margin: 0;
  }

  .popular-item {
    margin-bottom: 30px;
  }
}

.brands__btn,
.sellers__btn {
  margin-bottom: 30px;
}

.footer {
  color: $gray;

  a {
    color: inherit;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 13px;
    border-bottom: 1px solid $gray-light;
  }

  &__item-contact {
    display: flex;
    flex-direction: column;
  }

  &__social {
    display: flex;
  }

  &__social-item+li {
    margin-left: 12px;
  }

  &__title,
  &__phone,
  &__email {
    @extend %pt-500;
    font-size: 18px;
    line-height: 22px;
    color: $black  !important;
  }

  &__phone {
    margin-bottom: 8px;
  }

  &__phone:hover {
    color: $btn  !important;
  }

  &__email {
    margin-bottom: 16px;
    color: $btn  !important;
  }

  &__email:hover {
    color: $black  !important;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__menu-link {
    display: inline-block;
    margin-bottom: 12px;
  }

  &__menu-link:hover {
    color: $btn;
  }

  &__bottom {
    min-height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__bottom-link:hover {
    color: $btn;
  }
}

@import 'media';